*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1224px;
    margin: auto;
}
nav{
    background-color: #2E2622;
    padding: 17px 0px 18px;
}
nav .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display:flex;
    align-items: center;
    list-style: none;
    gap: 35px;
}
nav ul li a{
   text-decoration: none;
   color: #FBF6EF;
   font-size: 16px;
   font-weight: 300;
   line-height: 25.6px;
}
/* ============================== */
.hero{
    background-image: url(./image/bg-image.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .hero-container{
    padding: 224px 0px;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
}
.hero .hero-container .p1{
 font-size: 14px;
 font-weight: 300;
 color: #E9B44C;
 line-height: 22.4px;
 letter-spacing: 3px;
}
.hero .hero-container h1{
font-size: 52px;
font-weight: 700;
color: #FFFFFF;
line-height: 83.2px;
max-width: 657.9px;
margin-bottom: 20px;
}
.hero .hero-container .p2{
font-weight: 300;
font-size: 17px;
line-height: 27.2px;
max-width: 489.82px;
color: #F0E9DD;
margin: auto;
padding-bottom: 30px;
}
button{
    margin: auto;
    width: fit-content;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #2E2622;
    background: #E9B44C;
    border-radius: 30px;
    border: none;
    padding: 14px 34px;
}

/* ======================= */
.our-story img{
 width: 579.8px;
 height: 386.29px;
 border-radius: 12px;
}
.our-story .grid{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 align-items: center;
 gap: 50px;
 margin-top: 79.6px;
}
.our-story h2{
 font-size: 30px;
 font-weight: 700;
 line-height: 48px;
 color: #2E2622;
 margin-bottom: 14.4px;
}
.our-story p{
 font-size: 16px;
 font-weight: 300;
 line-height: 25.6px;
 color: #5A4F47;
 max-width: 579.8px;
 margin-bottom: 14.4px;
}

/* ========================= */

.our-menu{
    background-color:#F1E7D8;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 80px;
}
.our-menu .hadding-p{
    padding-top: 80px;
    font-size: 13px;
    font-family: 300;
    line-height: 20.8px;
    letter-spacing: 2px;
    color: #E9B44C;
}
.our-menu h2{
    font-size: 34px;
    font-family: 700;
    line-height: 54.4px;
    color: #2E2622;
}
.our-menu .box-container h4{
    font-size: 19px;
    font-family: 700;
    line-height: 30.4px;
    color: #2E2622;
    margin: 7.2px 0px;
}
.our-menu .box-container .box-p1{
    font-size: 16px;
    font-family:300;
    line-height: 25.8px;
    color: #2E2622;
     max-width: 229.9px;
     margin: auto;
}
.our-menu .box-container .box-p2{
    font-size: 18px;
    font-family:700;
    line-height: 28.8px;
    color: #E9B44C;
     margin-top: 7.2px;
}
.our-menu .box-container .box{
  background-color:#FFFFFF;
  border-radius: 14px;
  padding: 25px;
  max-width: fit-content;
}
.our-menu .box-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

/* =================== */
.why-us{
    margin: 80px auto;
    text-align: center;
}
.why-us .hadding-p{
    font-size: 13px;
    line-height: 20.8px;
    letter-spacing: 2px;
    font-weight: 300;
    color: #E9B44C;
}
.why-us h2{
    font-size: 34px;
    line-height: 54.4px;
    font-weight: 700;
    color: #2E2622;
}
.why-us .box p{
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 300;
    color: #2E2622;
}
.why-us .box h4{
    font-size: 18.7px;
    line-height: 30px;
    font-weight: 700;
    color: #2E2622;
    margin-top: 10px;
}
.why-us .box span{
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 30px;
    margin: auto;
    max-width: fit-content;
    border-radius: 50%;
    color: #E9B44C;
    background-color: #2E2622;
}
.why-us .box-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

/* ===================== */
.table-section{
    margin: 80px auto;
    text-align: center;
    margin-top: 50px;
}
.table-section p{
    padding-top: 50px;
    font-size: 13px;
    line-height: 20.8px;
    letter-spacing: 2px;
    font-weight: 300;
    color: #E9B44C;
}
.table-section h2{
    font-size: 34px;
    line-height: 54.4px;
    font-weight: 700;
    color: #2E2622;
}
.table-section table{
    width: 80%;
    border-collapse: collapse;   
    margin: 50px auto; 
}

.table-section table tr,td,th{
     border:2px solid #2E2622;
     padding: 15px 25px;
}
.table-section table th{
    background-color: #2E2622;
    color: #E9B44C;
}
/* ===================== */
.footer-img img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
}
.footer-img .position{
    position: relative;
}
.footer-img .left{
    padding: 12px 20px;
    background: #FFFFFF;
    border-radius: 12px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.footer-img .left p{
    padding-top: 4px;
    width: 223.16px;
    font-size: 13px;
    font-weight: 300;
    color: #5A4F47;
}
.footer-img .left h4{
    font-size: 16px;
    font-weight: 700;
    color: #2E2622;
}
.footer-img .top{
    padding: 12px 20px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: 60px;
}
.footer-img .top p{
    padding-top: 4px;
    font-size: 13px;
    font-weight: 300;
    color: #7A6F63;
}
.footer-img .top h4{
    font-size: 24px;
    font-weight: 700;
    color: #2E2622;
}
/* ================= */
footer{
    background: #2E2622;
    margin-top: 80px;
}
footer ul li,p{
    list-style: none;
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 300;
    color: #CFC6BB;
}
footer .top h4{
    font-size: 18px;
    line-height: 28.8px;
    font-weight: 700;
    color: #E9B44C;
}
footer .top{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 30px;
}
hr{
    color: #2E2622;
    margin: 0px 5px;
}
footer .bottom ul li i {
  width: 40px;
  height: 40px;
  background-color: #443C35;
  color: #C2B9AF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .bottom ul{
     display: flex;
     gap: 15px;
}
footer .bottom p{
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
footer .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26.6px 0px;
}